<!DOCTYPE html>
<html>
  <head>
    <title>个人中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/个人中心/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/resources/scripts/prototypePre.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/resources/scripts/prototypePost.js"></script>
    <script src="static/files/个人中心/data.js"></script>
      <script src="static/files/selectvideo/request.js"></script>
{#      <link href="static/common.css" type="text/css" rel="stylesheet"/>#}
{#      <link href="static/main.css" type="text/css" rel="stylesheet"/>#}
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'static/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'static/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'static/resources/reload.html'; };
    </script>

      <style>
          #tab-nav {
background: #7F7979;
margin: 0;
padding: 0;
}
#tab-nav li{
display: inline-block;
list-style: none;
width: 150px ;
height: 50px;
line-height: 50px ;
text-align: center ;
}
#tab-nav li a {
    display: block;

text-decoration: none ;
}
#tab-nav li a .active{
color: darkseagreen;
background: darkseagreen ;
}
#tab-content img {
margin-top: 40px;
    margin-right: 700px;
width: 48% ;
height: 300px;

	}

#tab-content{
    background:#FFF;
	height:350px;
	padding:25px;
	border-radius:5px;
	box-shadow:1px 1px 2px rgba(0,0,0,.15);
}
#tab-content p {
float: left;
width: 40% ;
}
        a{
            text-decoration: none;
            font-size: 20px;
        }
        #li1{
            margin-left: 20px;
        }
        #li2{
            margin-left: 320px;
        }

        #li4{
            margin-left: 200px;
            margin-right: 180px;

        }
        li{
            width: 100px;
            height: 50px;
            float: left;
        }
          table {
              border: 1px solid black;
              width: 600px;
  border-collapse: collapse;
}

table, th, td {
    height: 50px;
  border: 1px solid black;
}

          button {
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  line-height: inherit;
  width: max-content;
}
button:after {
  border: none;
}

          input{background:none;
outline:none;
border:none;}
      </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u243" class="ax_default box_3">
        <img id="u243_img" class="img " src="static/images/个人中心/u243.png"/>
        <!-- Unnamed () -->
        <div id="u244" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u245" class="ax_default _一级标题">
        <img id="u245_img" class="img " src="static/images/个人中心/u245.png"/>
        <!-- Unnamed () -->
        <div id="u246" class="text">
          <p><span>教学视频语音提取与审计系统</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u247" class="ax_default label">
{#        <img id="u247_img" class="img " src="static/images/个人中心/u247.png"/>#}
        <!-- Unnamed () -->
          <a href="{{ url_for('index') }}">
        <div id="u248" class="text">
          <p><span>返回</span></p>
        </div>
          </a>
      </div>

<section style="margin-top: 120px ; text-align: center;">

<ul id="tab-nav" >
	<li id="li1" style="list-style: none"><a  href="#tab1" id="nav-tab1">当前视频特征</a></li>
	<li id="li2" style="list-style: none"><a href="#tab2" id="nav-tab2">视频上传与编辑</a></li>
	<li id="li4" style="list-style: none"><a href="#tab3" id="nav-tab3">视频审计图表</a></li>
	<li    style="display: none"><a href="#tab4" id="nav-tab4">关于我们</a></li>
</ul>
<section id="tab-content" style="height: 600px">
  <article id="tab1" style="padding-top: 40px">
      <div>
      <span style="float: left">视频热词词云图(统计视频的高频次文本，出现频率越大则字体越大)</span>
          <img  src="data:;base64,{{ imgstream }}" title="视频热词词云图(统计视频文本中高频次，出现频率越大则字体越大)"></div>
      <div>
      <span style="float: right ;margin-top:-360px;margin-right: 95px">基于BIC算法的对话音频分割结果,可分割成{{ countfile }}句</span>
      <img  style="margin-right: -610px ; margin-top: -320px" src="data:;base64,{{ imgfengge }}" title="基于BIC算法的对话音频分割结果">
          </div>
 </article>
  <article id="tab2">
 	<p>编辑视频占比数展示</p>
      <img style="margin-top: -30px;margin-left: 200px" src="static/images/个人中心/spbintu.png">
  </article>
  <article id="tab3">
  <img style="position:relative;float:right; width: 500px;height: 400px" src="static/images/个人中心/videotj.png">
  <div style="position:absolute;margin-top:0px; margin-left: 550px;overflow-x: auto; overflow-y: auto; height: 600px; width:570px;">
<table style="margin-top: 30px;margin-left: 30px" border="1">
        <thead>
            <th>视频名称</th>
            <th>文件名称</th>
            <th>修改时间</th>
            <th>视频修改位置(初始帧/结束帧)</th>
        </thead>
        <tbody>
                {% for single in listall %}
                    <tr>
                        <td>{{ single[0] }}</td>
                        <td>{{ single[1] }}</td>
                        <td>{{ single[2] }}</td>
                        <td>{{ single[3] }}</td>
                    </tr>

                {% endfor%}
        </tbody>
    </table>

  </div>
  	</article>
  <article id="tab4">
  	<p></p>
  </article>
	</section>
	</section>
         <script type="text/javascript">
var nav_tab1=document.getElementById("nav-tab1");
var nav_tab2=document.getElementById("nav-tab2");
var nav_tab3=document.getElementById("nav-tab3");
var nav_tab4=document.getElementById("nav-tab4");
var tab1=document.getElementById("tab1");
var tab2=document.getElementById("tab2");
var tab3=document.getElementById("tab3");
var tab4=document.getElementById("tab4");

tab2.style.display="none";
tab3.style.display="none";
tab4.style.display="none";

nav_tab1.className="active";
nav_tab1.onclick=function(){
    hideAll();
	tab1.style.display="block";
	nav_tab1.className="active";
}
nav_tab2.onclick=function(){
    hideAll();
	tab2.style.display="block";
	nav_tab2.className="active";
}
nav_tab3.onclick=function(){
    hideAll();
	tab3.style.display="block";
	nav_tab2.className="active";
}
nav_tab4.onclick=function(){
    hideAll();
	tab4.style.display="block";
	nav_tab2.className="active";
}
function hideAll(){
    tab1.style.display="none";
    tab2.style.display="none";
    tab3.style.display="none";
    tab4.style.display="none";
	nav_tab1.className="";
	nav_tab2.className="";
	nav_tab3.className="";
	nav_tab4.className="";
}
</script>

      <!-- Unnamed (矩形) -->
{#      <div id="u251" class="ax_default label">#}
{#        <!-- Unnamed () -->#}
{#        <div id="u252" class="text">#}
{#          <p><span>数据统计</span></p>#}
{#            <img style="width:500px;position: absolute;" src="data:;base64,{{ imgstream }}" title="视频热词词云图(统计视频文本中高频次，出现频率越大则字体越大)">#}
{#            <img style="width:500px;position: absolute;margin-left: 500px"  src="data:;base64,{{ imgfengge }}" title="基于BIC算法的对话音频分割结果">#}
{##}
{#            <table style="margin-top: 400px" border="1">#}
{#        <thead>#}
{#            <th>用户名称</th>#}
{#            <th>视频名称</th>#}
{#            <th>修改时间</th>#}
{#            <th>修改次数</th>#}
{#        </thead>#}
{#        <tbody>#}
{#                {% for single in listall %}#}
{#                    <tr>#}
{#                        <td>{{ single[0] }}</td>#}
{#                        <td>{{ single[1] }}</td>#}
{#                        <td>{{ single[2] }}</td>#}
{#                        <td>{{ single[3] }}</td>#}
{#                    </tr>#}
{##}
{#                {% endfor%}#}
{#        </tbody>#}
{#    </table>#}
{##}
{#        </div>#}
{#      </div>#}

      <!-- Unnamed (表格) -->
{#      <div id="u253" class="ax_default">#}

        <!-- Unnamed (单元格) -->
{#        <div id="u254" class="ax_default table_cell">#}
{#          <img id="u254_img" class="img " src="static/images/个人中心/u254.png"/>#}
{#          <!-- Unnamed () -->#}
{#          <div id="u255" class="text">#}
{#            <p><span>id：{{ id }}</span></p>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <!-- Unnamed (单元格) -->#}
{#        <div id="u256" class="ax_default table_cell">#}
{#          <img id="u256_img" class="img " src="static/images/个人中心/u254.png"/>#}
{#          <!-- Unnamed () -->#}
{#          <div id="u257" class="text">#}
{#            <p><span>用户人姓名：{{ name }}</span></p>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <!-- Unnamed (单元格) -->#}
{#        <div id="u258" class="ax_default table_cell">#}
{#          <img id="u258_img" class="img " src="static/images/个人中心/u254.png"/>#}
{#          <!-- Unnamed () -->#}
{#          <div id="u259" class="text">#}
{#            <p><span>用户人邮箱：{{ email }}</span></p>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <!-- Unnamed (单元格) -->#}
{#        <div id="u260" class="ax_default table_cell">#}
{#          <img id="u260_img" class="img " src="static/images/个人中心/u260.png"/>#}
{#          <!-- Unnamed () -->#}
{#          <div id="u261" class="text">#}
{#            <p><span>用户人手机号：{{ tel }}</span></p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <!-- Unnamed (图片) -->
      <div id="u262" class="ax_default _图片">
        <img id="u262_img" class="img " src="static/images/个人中心/u262.png"/>
        <!-- Unnamed () -->
        <div id="u263" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
