<!DOCTYPE html>
<html>
  <head>
    <title>视频</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/视频/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="static/resources/scripts/prototypePre.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/resources/scripts/prototypePost.js"></script>
    <script src="static/files/视频/data.js"></script>
       <script src="static/files/selectvideo/request.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'static/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'static/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'static/resources/reload.html'; };
    </script>
      <style>
          .pointer{

cursor: pointer;

}
          a{
              text-decoration: none;
          }
      </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u203" class="ax_default image">
        <img id="u203_img" class="img " src="static/images/视频/u203.png"/>
        <!-- Unnamed () -->
        <div id="u204" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u205" class="ax_default" data-left="83" data-top="236" data-width="1161" data-height="483">

        <!-- Unnamed (矩形) -->
        <div id="u206" class="ax_default box_1">
          <img id="u206_img" class="img " src="static/images/视频/u206.png"/>
          <!-- Unnamed () -->
          <div id="u207" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 02 (内联框架) -->
      <div id="u208" class="ax_default" data-label="02">
{#        <iframe id="u208_input" data-label="02" scrolling="no" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>#}
          <video id="spfa2" style="width: 650px;height: 450px"  controls>
              <source id="sp02" src="#" type="video/mp4">
                </video>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u209" class="ax_default icon">
{#        <img id="u209_img" class="img " src="static/images/视频/u209.png"/>#}
          <input type="button" class="pointer" onclick="videovoicehe()" style="width:100px; height:100px; border:0;background: url(static/images/视频/u209.png) no-repeat left top;background-size: 100%" value="" >
        <!-- Unnamed () -->

        <div id="u210" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u211" class="ax_default _文本段落">
        <div id="u211_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u212" class="text">
          <p><span>你已成功修改{{ times }}处音频，是否合成播放。</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u213" class="ax_default box_3">
        <div id="u213_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u214" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u215" class="ax_default _一级标题">
        <div id="u215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u216" class="text">
          <p><span>教学视频语音提取与审计系统</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u217" class="ax_default _图片">
        <img id="u217_img" class="img " src="static/images/首页/u10.png"/>
        <!-- Unnamed () -->
        <div id="u218" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- 功能区域 (动态面板) -->
      <div id="u219" class="ax_default" data-label="功能区域">
        <div id="u219_state0" class="panel_state" data-label="State1" style="">
          <div id="u219_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u220" class="ax_default _默认样式">
              <div id="u220_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u221" class="text">
                <a href="{{ url_for('selfinfo') }}"><p style="font-size:14px;"><span style="font-family:'FontAwesome Regular', 'FontAwesome';font-weight:400;font-size:20px;"></span><span style="font-family:'微软雅黑';font-weight:400;">&nbsp; 数据统计</span></p>
                </a></div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u222" class="ax_default _默认样式">
              <div id="u222_div" class=""></div>
              <!-- Unnamed () -->
                <a href="/">
              <div id="u223" class="text">
                <p style="font-size:14px;"><span style="font-family:'FontAwesome Regular', 'FontAwesome';font-weight:400;font-size:20px;"></span><span style="font-family:'微软雅黑';font-weight:400;">&nbsp; 退出登录</span></p>
              </div>
                </a></div>
          </div>
        </div>
      </div>

      <!-- 对话框 (动态面板) -->
      <div id="u224" class="ax_default ax_default_hidden" data-label="对话框" style="display:none; visibility: hidden">
        <div id="u224_state0" class="panel_state" data-label="退出确认" style="">
          <div id="u224_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u225" class="ax_default _默认样式">
              <div id="u225_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u226" class="text">
                <p><span style="color:#666666;"></span></p><p><span style="color:#999999;"></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u227" class="ax_default" data-left="256" data-top="181" data-width="180" data-height="35">

              <!-- Unnamed (组合) -->
              <div id="u228" class="ax_default" data-left="256" data-top="181" data-width="180" data-height="35">

                <!-- Unnamed (矩形) -->
                <div id="u229" class="ax_default _默认样式">
                  <div id="u229_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u230" class="text">
                    <p><span>取消</span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u231" class="ax_default _默认样式">
                  <div id="u231_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u232" class="text">
                    <p><span>确定</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u233" class="ax_default _默认样式">
              <div id="u233_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u234" class="text">
                <p><span>退出确认</span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u235" class="ax_default _默认样式">
              <img id="u235_img" class="img " src="static/images/首页/u28.png"/>
              <!-- Unnamed () -->
              <div id="u236" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u237" class="ax_default _默认样式">
              <div id="u237_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u238" class="text">
                <p><span><br></span></p><p><span>确定要退出登录吗？</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u239" class="ax_default _默认样式">
        <div id="u239_div" class=""></div>
        <!-- Unnamed () -->
          <a href="{{ url_for('wenbenye') }}">
        <div id="u240" class="text">
          <p><span>重新选择</span></p>
        </div>
          </a>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u241" class="ax_default _默认样式">
        <div id="u241_div" class=""></div>
        <!-- Unnamed () -->
          <a href="{{ url_for('index') }}">
        <div id="u242" class="text">
          <p><span>已完成</span></p>
        </div>
          </a>
      </div>
    </div>
  </body>
</html>
